<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831486713830-1qbntun0qhu655tpmdbqbncku67oqtmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831486713830-1qbntun0qhu655tpmdbqbncku67oqtmk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831486713830-ild61a82245qup63bb43a9h1p67vs33s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsRbPLUfx9Gq7CM9Kb0SObaKUEFsZv3jg</string>
	<key>GCM_SENDER_ID</key>
	<string>831486713830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.smstrackingapp</string>
	<key>PROJECT_ID</key>
	<string>smstrackingapp-39dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>smstrackingapp-39dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831486713830:ios:ba71b4d34ac53b3e8c8027</string>
</dict>
</plist>